   .write{
	 box-shadow: 1px 1px 11px 4px rgba(100, 110, 101, 1); /*125, 120, 130*/
	 background: white;
	 position: relative;
	 top: 10%;
	 height: 150px;
	 width: 70%;
	 left: 15%;
	 display: none;
   }
   .write-content{
	  height:400px;
   }
   .close-write{
     position: absolute;
	 right: 0;
	 padding: 5px;
	 color: black;
	 font-size: 40px;
	 font-weight: bold;
	 cursor: pointer;
   }
   .close-write:hover{
     color: white;
     background: gray;
   }