.bgimg{
  background-color: rgba(0, 0, 0, 0.8);
  height: 60%;
  background-position: center;
  background-size: cover;
  position: relative;
  color: white;
  /*font-family: "Courier New", Courier, monospace;
  font-size: 25px;*/
}

.coming-soon {
  background-image: url('../didcy.png');
  width: 50%;
  height: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-size: 25px;
  transform: translate(50%, 0%);
  z-index: -1;
  
}

@media screen and (max-width: 1000px){
   .coming-soon {
	  width: 100%;
	  transform: translate(0%, 0%);
   }
}

@media screen and (max-width: 760px){

}
@media screen and (max-width: 600px){
   .coming-soon {
	  width: 100%;
	  transform: translate(0%, 0%);
   }
}

@media screen and (max-width: 400px){
   .coming-soon {
	  width: 100%;
	  transform: translate(0%, 0%);
   }
}

@media screen and (max-width: 380px){
	
}

@media screen and (max-width: 280px){
   .coming-soon {
	  width: 100%;
	  transform: translate(0%, 0%);
   }
}
@media screen and (max-width: 0px){}

@media screen and (min-width: 1280px){
.bgimg{
  height: 40%;
}
}